.header {
  height: 100vh;
  position: relative;
  color: white;

  &__content {
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 70px;
    right: 70;
    bottom: 80px;
    width: 1778px;
    /* remove connection with click */
    pointer-events: none;

    @media (max-width: 1200px) {
      top: 40px;
      left: 40px;
      right: 40px;
      bottom: 60px;
    }

    @media (max-width: 767px) {
      top: 30px;
      left: 5%;
      right: 5%;
      bottom: 30px;
    }
  }

  &__nav {
    pointer-events: all;
  }

  &__socials {
    pointer-events: all;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0%, -50%);

    @media (max-width: 767px) {
      display: none;
    }

    @media (max-height: 600px) {
      top: 40%;
    }
  }

  &__see-more {
    pointer-events: all;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &__slider-controls {
    pointer-events: all;
    position: absolute;
    right: 0;
    bottom: 0;

    pointer-events: all;
  }

  &__scrollbar {
    pointer-events: all;
    position: absolute;
    transform: translate(0, 50%);
    z-index: 9;
    right: 0;
    left: auto;
    width: 10px;
    height: 400px;
    background-color: aqua;
  }
}
