.slide {
  height: 100vh;
  overflow: hidden;
  padding-bottom: 80px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: rgb(203, 204, 206);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  &::before {
    content: '';
  }

  @media (max-width: 1200px) {
    padding-bottom: 60px;
  }

  @media (max-width: 767px) {
    padding-top: 100px;
    padding-bottom: 40px;
  }

  &__header {
    text-align: center;
    position: relative;
  }
  &__tagline {
    position: absolute;
    top: -20px;
    width: 100%;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.23;
    letter-spacing: 0.55em;
    color: rgba(255, 255, 255, 0.7);
    @media (max-width: 767px) {
      font-size: 3vw;
    }
  }

  &__title {
    /* font-size: 250px; */
    font-size: 13vw;
    font-weight: 700;
    line-height: 1.22;

    @media (max-width: 767px) {
      font-size: 19vw;
    }
  }

  &__title span {
    padding: 0 10px;
    background: linear-gradient(47.06deg, #000000 -3.87%, rgba(255, 255, 255, 0) 20.89%), #fff;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.slide__location {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  width: 70%;
  margin: 0 auto;

  @media (max-width: 1023px) {
    width: 90%;
  }
  @media (max-width: 767px) {
    width: 90%;
    flex-direction: column;
    row-gap: 20px;
  }
}

/* slides styles */
.slide--norway {
  background: var(--radial-bg), var(--linear-bg), url('../../img/slider-bg/01.jpg');
}

.slide--austria {
  background: var(--radial-bg), var(--linear-bg), url('../../img/slider-bg/02.jpg');
}
.slide--austria {
  background: var(--radial-bg), var(--linear-bg), url('../../img/slider-bg/02.jpg');
}
.slide--uae {
  background: var(--radial-bg), var(--linear-bg), url('../../img/slider-bg/03.jpg');
}
.slide--thailand {
  background: var(--radial-bg), var(--linear-bg), url('../../img/slider-bg/04.jpg');
}
.slide--morocco {
  background: var(--radial-bg), var(--linear-bg), url('../../img/slider-bg/05.jpg');
}
